/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #554488;
  --ifm-color-primary-dark: rgb(83, 68, 136);
  --ifm-color-primary-darker: rgb(81, 58, 128);
  --ifm-color-primary-darkest: rgb(76, 29, 114);
  --ifm-color-primary-light: rgb(166, 90, 174);
  --ifm-color-primary-lighter: rgb(190, 100, 189);
  --ifm-color-primary-lightest: rgb(220, 120, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
